/* globals.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: -webkit-fill-available;
}

body {
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  overscroll-behavior: none;
}